<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.infrastructure.mybatis.mapper.UserCredentialMapper">
    <insert id="insert">
        insert into user_credential (user_id, password_hash) values(
                                                  #{credential.userId},
                                                  #{credential.passwordHash}
                                              )
    </insert>
    <select id="get" resultMap="userCredentialMap">
        select user_id,password_hash from user_credential where user_id= #{userId}
    </select>
    <delete id="delete">
        delete from user_credential WHERE user_id=#{userId}
    </delete>
    <resultMap id="userCredentialMap" type="org.example.core.userCredential.UserCredential">
        <id column="user_id" property="userId"/>
        <result column="password_hash" property="passwordHash"/>
    </resultMap>
</mapper>
